
<div class="d-flex justify-content-center mt-2 py-2">

  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<div class="row mt-4">
    
    <div class="col-md-4 " *ngFor="let p of products | paginate: { itemsPerPage: 10, currentPage: p }">
        <div class="card h-100" style="width: 18rem;">
            <img src="{{p.image}}" height="200" class="card-img-top" alt="...">
            <div class="card-body">
                <h1>{{p.id}}</h1>
                <h1>{{p.docId}}</h1>
              <h5 class="card-title">{{p.title}}</h5>
              <p class="card-text">{{p.desc}}</p>
              <a class="btn btn-primary"  [routerLink]="['/single-product/', p['docId']]" 
              routerLinkActive="router-link-active"  >show</a>

              <a class="btn btn-primary"  [routerLink]="['/edti-productc/', p['docId']]" 
              routerLinkActive="router-link-active"  >edit</a>
            </div>
          </div>
    </div>
</div>