<div class="create-form">
    <form (ngSubmit)="addProduct()" #p="ngForm" [formGroup]="product" enctype="multipart/form-data">
        
        <div class="mb-3">
            <label for="title" class="form-label">title</label>
            <input type="email" 
            class="form-control title" id="title" [(ngModel)]="editedP.title" formControlName="title">
        </div>

        <div class="mb-3">
            <label for="instock" class="form-label">inStock</label>
            <input type="number" min="1" class="form-control instock" id="instock"
            [(ngModel)]="editedP.inStock" formControlName="inStock">
            
        </div>

     
        <div class="mb-3">
            <label for="image" class="form-label">Image Path</label>
            <input type="text"  class="form-control image" id="image" 
            formControlName="image" [(ngModel)]="editedP.image">
            
        </div>
        
        <div class="mb-3">
            <label class="form-check-label" for="desc">Description</label>
            <textarea type="checkbox desc" class="form-control desc" id="desc"
            [(ngModel)]="editedP.desc" formControlName="desc"></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary">{{(mode == 'create') ?'Submit' : 'Update'}}</button>
    </form>
</div>